<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="home :: headElement"> </div>
<body>
	<h1>Products</h1>
	
	<div id="product-table" class="col-8 m-auto">
		<h1>Products Table</h1>
		<table class="table table-striped">
			<tr> 
				<th scope="col">Name</th>
				<th scope="col">Manufacturer</th>
				<th scope="col">Description</th>
				<th scope="col">Price</th>
				<th scope="col">Active</th>
				<th scope="col">Action</th>
			</tr>		
			<tr th:each="product: ${products}">
    			<td th:text="${product.name}" />
				<td th:text="${product.manufacturer}" />
   				<td th:text="${product.description}" />
				<td th:text="${product.price}" />
				<td th:text="${product.active}"/>
				<td>
					<a th:href="@{'/products/update/'+${product.id}}"><button class="btn btn-primary btn-small">Edit</button></a>
					<a th:href="@{'/products/delete/'+${product.id}}"><button class="btn btn-primary btn-small">Delete</button></a> 
				</td>
			</tr>
		</table>
	</div>
	<div class="product-form col-8 m-auto" >

		<h1>Product Form</h1>
		<form action="/products/update" name="product" method="post">
		<div class="form-group">
			<label for="productName">Product Name:</label> <input type="text"
				class="form-control" name="name" id="productName" placeholder="Name">
		</div>
		<div class="form-group">
			<label for="productManufacturer">Manufacturer:</label> <input
				type="text" class="form-control" name="manufacturer" id="productManufacturer"
				placeholder="Manufacturer">
		</div>
		<div class="form-group">
			<label for="productDescription">Description:</label> <textarea
				type="text" class="form-control" name="description" id="productDescription"
				placeholder="Description" rows=3> </textarea>
		</div>
		<div class="form-group">
			<label for="productPrice">Price:</label> <input type="number"
				class="form-control" id="productPrice" name="price" placeholder="Price">
		</div>
		
		<div class="form-check">
			<input class="form-check-input" type="radio" name="active"
				id="isActive" value="true" checked> <label
				class="form-check-label" for="isActive"> Active
			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="active"
				id="isInactive" value="false"> <label
				class="form-check-label" for="isInactive"> Inactive </label>
		</div>

		<input type="submit" class="btn btn-primary -" value="submit">
		</form>

	</div>
</body>
</html>